
* {
    margin:0;
    box-sizing:border-box;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size:3rem;
    text-decoration:none;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgba(238, 130, 238, 0.5)
                                      }

a {
    text-decoration:none;
}

.container {
    width:100%;
    height:fit-content;
    display:flex;
    flex-flow:column wrap;
}

.header-one {
    margin:auto;
    padding:1rem;    
}

.em:hover {
    text-decoration: underline 4px;
}

ul {
    list-style:none;
}

ul {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-evenly;
    flex-grow:1;
    padding:10px;
}
.home-box {
    width:fit-content;
    height:100%;
    background-color:#121212;
    flex-grow:.25;   
}
.home-box a {
    color:violet; 
}
.home-box a:hover{
    text-decoration: underline 1px;
}

.orange-box:hover {
    text-decoration:underline 1px;    
}

.red-box {
    width:fit-content;
    height:100%;
    background-color:#121212;
    flex-grow:inherit;
}
.red-box a {
    color:red;
}

.red-box:hover {
    text-decoration:underline 1px;
}

.orange-box {
    width:fit-content;
    height:100%;
    background-color:#121212;
    flex-grow:inherit; 
}
.orange-box a {
    color:orange;
}

.orange-box:hover {
    text-decoration:underline 1px;    
}

.yellow-box {
    width:fit-content;
    height:100%;
    background-color:#121212;
    flex-grow:inherit;
}
.yellow-box a {
   color:yellow;
}

.yellow-box:hover {
    text-decoration:underline 1px;    
}

.green-box {
    width:fit-content;
    height:100%;
    background-color:#121212;
    flex-grow:inherit;
}
.green-box a {
    color:lime;
}

.green-box:hover {
    text-decoration:underline 1px;    
}

.blue-box {
    width:fit-content;
    height:100%;
    background-color:#121212;
    flex-grow:inherit;
}
.blue-box a {
    color:aqua;
}

.blue-box:hover {
    text-decoration:underline 1px;    
}

nav a:hover {
    font-weight:900;
}

h2 {
    padding: 2em 0;
}

.article-one .body {
    padding:1em;
    font-size:2rem;
    text-align:left;
    line-height:2.5ch;
}

.block {
    width:30vw;
    height:60vh;
    background-color:black;
    margin-right:1rem;
    margin-left:1rem;
}

.bold {
    font-weight:900;
}

h3 {
    margin-bottom:1em;
}

h3 a {
    color:black;
}

h3 a:hover {
    color:blueviolet;
}


h3 a:active {
    color:violet;
}












